extends default

block content
    h1 About
    h2 Description
    p bookmarkhub is a free and open source software as a service for sharing bookmarks that is present all over the net.
    h2 Features