extends default

block content
    h1 About
    p Created by 
        a(href=app_configuration.author_link)= app_configuration.author
    p If you found any issues or bugs, just go to the #[a(href=app_configuration.issue_tracker_link) issue tracker] and file a new issue there. You can also suggest new features and improvement that could make this website provide a smoother user experience. 
    p You can also contribute if you're quite familiar with JavaScript and Node, the #[a(href=app_configuration.app_repo_link) repo is open sourced], after all.
    b License: #[a(href="https://choosealicense.com/licenses/mit/") MIT]
