extends default
include ../mixins/signup_banner

block content
    .error-block= error
    img(src="/img/book-candle-tailpiece.jpg", alt="Book on a candle tailpiece")
    h1 #{app_configuration.app_icon} #{app_configuration.app_name}
    h2 #{app_configuration.app_description}
    p.home-text-block Greetings, cyberspace wanderer. I'm pretty sure you're using this thing called the internet.
    p.home-text-block Being a
    p.home-text-block Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat, numquam repudiandae? Ut in dolore, consequuntur sit, ipsa quas consequatur autem voluptatum qui quaerat ullam harum ipsum enim laborum hic atque!
    +signup_prompt(user_session_id)    
    