body {
  font-family: "Libre Baskerville", "Gentium Book Basic", "Georgia", "Book Antiqua", serif;
  font-size: 18px;
  height: 100vh;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 450px) {
  body {
    font-size: 16.2px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

header {
  background: url("/img/dark-wood.jpg");
}
header a {
  color: #e8e8e8;
}
@media screen and (max-width: 450px) {
  header {
    height: unset;
  }
}

main {
  display: flex;
  flex-flow: column nowrap;
  min-height: 75vh;
  margin: 20px auto;
  max-width: 900px;
  padding: 0 10px;
}

h1 {
  margin: 20px 0;
}

h1 ~ h2 {
  margin: 10px 0;
}

h1 + h2 {
  margin-top: 0;
}

h2 {
  margin: 20px 0;
}

h2 ~ h3 {
  margin: 10px 0;
}

h2 + h3 {
  margin-top: 0;
}

h3 {
  margin: 20px 0;
}

h3 ~ h4 {
  margin: 10px 0;
}

h3 + h4 {
  margin-top: 0;
}

h4 {
  margin: 20px 0;
}

h4 ~ h5 {
  margin: 10px 0;
}

h4 + h5 {
  margin-top: 0;
}

h5 {
  margin: 20px 0;
}

h5 ~ h6 {
  margin: 10px 0;
}

h5 + h6 {
  margin-top: 0;
}

h6 {
  margin: 20px 0;
}

footer {
  background: url("/img/dark-wood.jpg");
  color: white;
}
footer a {
  color: #e8e8e8;
}
@media screen and (max-width: 450px) {
  footer {
    height: unset;
  }
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

input[type=text], input[type=password],
input[type=url], input[type=email], input[type=search] {
  font-size: 1.1em;
  display: block;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 20px;
}
@media screen and (max-width: 750px) {
  .wrapper {
    flex-flow: column wrap;
    padding: 1em;
  }
  .wrapper > * {
    margin: 10px auto;
  }
}

.header-app-titlebox h3.header-app-name {
  margin: 0;
}
.header-app-titlebox a {
  text-decoration: none;
}

.header-navbar {
  display: flex;
  flex-flow: row nowrap;
}

.navbar-link {
  margin: 0 10px;
}
.navbar-link:first-of-type {
  margin-left: 0;
  margin-right: 10px;
}

.faq-block {
  display: flex;
  margin-bottom: 35px;
}
.faq-block:nth-of-type(odd) {
  flex-flow: row wrap;
}
.faq-block:nth-of-type(even) {
  flex-flow: row-reverse wrap;
}
@media screen and (max-width: 750px) {
  .faq-block {
    display: block;
  }
}

.faq-word-block {
  width: 60%;
}
.faq-word-block p {
  font-size: 1.3rem;
  line-height: 1.5em;
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
}
@media screen and (max-width: 750px) {
  .faq-word-block p {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 450px) {
  .faq-word-block p {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 750px) {
  .faq-word-block {
    width: unset;
  }
}

.faq-picture-block {
  margin: auto;
}
@media screen and (max-width: 750px) {
  .faq-picture-block {
    display: none;
  }
}

.social-icons {
  width: 32px;
  height: 32px;
  fill: white;
  margin: 0 20px;
}

.signup-prompt {
  background: #b8eb79;
  border: dashed #8add21 3px;
  display: block;
  font-size: 1.5em;
  margin: 3em auto;
  padding: 1.5em;
}
