mixin bookmark_component(object)
    +bookmark_children_component(object["children"])

mixin bookmark_children_component(children)
    each value, key in children
        if (typeof(value) === "object" && value.toString() === "[object Object]")
            .bookmark-folder #{key}
                +bookmark_children_component(value)
        else
            .bookmark-link
                a(href=value) #{key}
