mixin bookmark_component(object)
        .bookmarks
            p Your bookmarks
            +bookmark_children_component(object["children"])
            script
                include bookmarks.js

mixin bookmark_children_component(children)
    each value, key in children
        if (typeof(value) === "object" && value.toString() === "[object Object]")
            .bookmark-container
                .bookmark-folder #{key}
                .bookmark-items
                    +bookmark_children_component(value)
        else
            a.bookmark-link(href=value) #{key}
