body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    height: 100vh;
    margin: 0;
    padding: 0;

    @media screen and (max-width: $on-phone) {
        font-size: $base-font-size * 0.9;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}


header {
    background: url("/img/dark-wood.jpg");

    a {color: #e8e8e8;}

    @media screen and (max-width: $on-phone) {height: unset;}
}

main {
    display: flex;
    flex-flow: column nowrap;
    min-height: $main-height;
    margin: $base-margin-width auto;
    max-width: $max-width;
    padding: 0 ($base-margin-width / 2);
}

h1 {margin: $base-margin-width 0;}
h1 ~ h2 {margin: $base-margin-width / 2 0;}
h1 + h2 {margin-top: 0;}

h2 {margin: $base-margin-width 0;}
h2 ~ h3 {margin: $base-margin-width / 2 0;}
h2 + h3 {margin-top: 0;}

h3 {margin: $base-margin-width 0;}
h3 ~ h4 {margin: $base-margin-width / 2 0;}
h3 + h4 {margin-top: 0;}

h4 {margin: $base-margin-width 0;}
h4 ~ h5 {margin: $base-margin-width / 2 0;}
h4 + h5 {margin-top: 0;}

h5 {margin: $base-margin-width 0;}
h5 ~ h6 {margin: $base-margin-width / 2 0;}
h5 + h6 {margin-top: 0;}

h6 {margin: $base-margin-width 0;}

footer {
    background: url("/img/dark-wood.jpg");
    color: white;

    a {color: #e8e8e8;}

    @media screen and (max-width: $on-phone) {
        height: unset;
    }
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

input[type="text"], input[type="password"],
input[type="url"], input[type="email"], input[type="search"] {
    font-size: 1.1em;
    display: block;
}


input[type="button"], input[type="reset"],
button {

}
