.wrapper {
    max-width: $max-width;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: ($base-margin-width);

    @media screen and (max-width: $on-tablet) {
        > * {margin: ($base-margin-width/2) auto}
        flex-flow: column wrap;
        padding: 1em;
    }
}

.header-app-titlebox {
    h3.header-app-name {margin: 0;}
    a {text-decoration: none;}
}

.header-navbar {
    display: flex;
    flex-flow: row nowrap;
}

.navbar-link {
    margin: 0 ($base-margin-width / 2);
    &:first-of-type {margin-left: 0; margin-right: ($base-margin-width / 2)}
}

.faq-block, .feature-block {
    display: flex;
    margin-bottom: ($base-margin-width * 1.75);
    
    &:nth-of-type(odd) {flex-flow: row wrap;}
    &:nth-of-type(even) {flex-flow: row-reverse wrap;}

    @media screen and (max-width: $on-tablet) {display: block;}
}

.faq-word-block, .feature-description-block {
    width: 60%;

    @media screen and (max-width: $on-tablet) {width: unset;}
}

.faq-picture-block, .feature-icon-block {
    margin: auto;
    @media screen and (max-width: $on-tablet) {display: none;}
}

.social-icons {
    width: 32px;
    height: 32px;
    fill: white;
    margin: 0 $base-margin-width;
}

.signup-prompt {
    background: $brand-color-light-2;
    border: dashed $brand-color-dark-2 3px;
    display: block;
    font-size: 1.5em;
    margin: 3em auto;
    padding: 1.5em;
}

.error-block {
    background: $error;
    border: darken($error, 20%) dashed 3px;
    color: white;
    margin: 0 auto 1em auto;
    padding: 1em;
    text-align: center;
    width: 50%;
}

.success-block {
    background: $success;
    border: darken($success, 20%) dashed 3px;
    margin: 0 auto 1em auto;
    padding: 1em;
    text-align: center;
    width: 50%;
}

.bookmarks {
    & > * {margin: 1em auto;}
}

.bookmark-folder {
    cursor: pointer;

    &::before {content: "> ";}
    &.active::before {content: "V ";}
}

.bookmark-folder:hover, .bookmark-link:hover {
    background: lightgray;
}

.bookmark-items {
    display: none;
    & > * {
        padding-left: 20px;
        margin: 1em auto;
    }
}

.active {
    display: block;
}

.bookmark-link {
    display: block;

    &::before {
        content: "- ";
        display: inline-block;
        margin-right: .25em;
    }
}
