extends ../layout/default

block content
    h1 Verification success!
    p You can now #[a(href=app_configuration.login_page) login] with your account.
    p Please let #[a(href=app_configuration.author_link) me] know what you think about this project!
