head
    title #{title}
    link(rel="stylesheet", href="main.css")
    link(rel="icon", type="image/jpg", sizes="32x32", href="/assets/icon.jpg")
    meta(http-equiv="X-UA-Compatible", content="IE=7")
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="author", content="Gabriel Arazas (foo-dogsquared)")
    meta(name="keywords", content="bookmarks,bookmark,sharing,bookmark sharing,bookmark linking,foo-dogsquared,Gabriel Arazas")
    meta(name="description", content="A bookmark sharing site.")
    meta(name="application-name", content="bookmarkhub")
    meta(property="og:description", content="A bookmark sharing site.")
    meta(property="og:site_name", content="bookmarkhub")
    meta(property="og:image", content="/assets/icon.jpg")
    script(async, src="https://www.googletagmanager.com/gtag/js?id=#{google_analytics_id}")
    //- include google_analytics.js
