mixin show_error_list(error_object)
    if error_object
        .error-block
            ul
                each value, key in error_object
                    li #{value}

mixin show_error_message(error_message)
    if error_message
        p.error-block= error_message
