extends ../layout/default
include auth

block content
    h1 Login
    form(method="post")
        if error
            p= error
        .form-input
            p Username
            input(type="text", name="username", required)
        .form-input
            p Password
            input(type="password", name="password", required, minlength="8")
        input(type="submit", value="Login")
    a(href=app_configuration.reset_password_page) Forgot password?
