extends ../layout/default

block content
    h1 Login
    form(method="post")
        input(type="text", name="username", required)
        input(type="text", name="password", required)
        input(type="submit", value="Login")
