extends ../layout/default
include auth

block content
    h1 Reset password
    form(method="post")
        +show_error_message(error)
        p Enter the email address of your account
        input(type="email", name="email_address", required)
        input(type="submit", value="Submit")