extends ../layout/default
include auth

block content
    h1 Password token has failed!
    p= token_error_message
    p Please try to claim another token by requesting another reset password email on #[a(href=app_configuration.reset_password_page) the 'Forgot Password' page].
