form(action="#{signup_validation_api}", method="post")
    input(type="text", name="username")
    input(type="text", name="email_address")
    input(type="text", name="password")
    input(type="button", value="Sign up")